.weather-card-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;

    .weather-card {
        border-color: #FFFFFF;
        border-style: solid;
        border-right-width: 3px;
        border-top-width: 3px;
        width: 100%;

        &:last-child {
            border-right: 0;
        }
    }
}
